/* 
	CSS for page
	classes always start with a period(.) and 
	id start with hashtag(#) & name of id
	*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------- ^^^^^^^^ RESET SCRIPT ^^^^^^^ --------------------------------*/
/* --------------------------------------------------------------------------------*/

/**

Font families imported via Google:
font-family: 'Ubuntu', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Laila', serif;
font-family: 'Bitter', serif;

**/

/**
Start of CSS for Profile Page
**/

	body{
		margin:0;
		/*tried to get rid of white space
		between top div and mid div*/
		background-color: #ccccff;
	}


	.ellaMainImage{
	     margin-bottom:0;

	}	


	/*** 
	START Navbar - 
	absolute position- moves along the page
	top (think from the top)
	left (think from the left) 
	 **/
	 .top-left {
	  position: absolute;
	  top: 10px;
	  left: 16px;
}

/* Opens and closes navbar */
.sidenav {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  /* how you layer things in CSS, 
	  use z-index to put this on top 
	  of the background */
	  z-index: 1;
	  top: 0;
	  left: 0;
	  /* will change background 
	  to be probably opaque*/
	  background-color: rgba(204, 102, 255, .9);
	  /* overflow keeps the words in 
	  the navbar from going beyond 
	  the navbar background */
	  overflow-x: hidden;
	  /* transition is how fast it opens */
	  transition: 0.5s;
	  /* makes it further down */
	  padding-top: 60px;

}


/*changes the alignment of the words in the navbar
targets the a links from the div bar */
.sidenav a {
	  padding: 8px 8px 8px 50px;
	  text-decoration: none;
	  text-transform:uppercase;
	  font-size: 25px;
	  color: #fff;
	  display: block;
	  transition: 0.3s;
}

/* changes hover color of text in navbar */
.sidenav a:hover {
	color: purple;
	transition: 1s;
}


/* changes the close button in navbar */
.sidenav .closebtn {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 45px;
	  margin-left: 50px;
}
	/*** END Navbar **/

/*** Bottom bar div **/
	.concertDates{
        width:100%;
        height:100%;
        margin:0;
        /* make a gradient image for bottom div */
        background-image: linear-gradient(#ccccff,#ffb3d9, #4d004d);
}
	

/* first picture in bottom div*/
 #program{
        width:60%;
        align-items: center;
        margin-top:2%;
        margin-left:25%;
}

/* second picture in bottom div*/
#languages{
        margin-top:0%;
        margin-left:30%;
        align-items: center;
}  


/*table 
not in use*/
.GeneratedTable{
	margin-top:5%;
	margin-left:12%;
    }

h1{
	text-align: center;
	color: #4d004d;
	font-family: laila;
	font-size: 1.3em;
	font-weight: bold;

}

/* strike through for table items in bottom div
not in use*/    
.soldout a{
    color:black;
    text-decoration: line-through     
    }

/*image after table*/

.aboutme{
   
  margin-top:3%;
  margin-left:12%;
  display: inline-block;

}

.flip-box {
  display: inline-block;
  background-color: transparent;
  border-radius: 50%;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed 
to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  border-radius: 50%;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move 
the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
  border-radius: 50%;

}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
  border-radius: 50%;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  border-radius: 50%;
}

/* To center the pictures that are flipping */
.block {
  padding: 5% 0% 0% 15%;
}
/*stying titles for flip boxes*/
h3{
	font-weight: bold;
	font-family: bitter;
}
/*styling text for flip boxes*/
h4{
	font-family: laila;
	font-size: .9em;
	align-items: center;

}

/* targets bottom 3 immages*/
#round{
	border-radius: 50%;
}


#eMaix{
	width:10%;
	height:10%;
	margin-left:30%;
}

/*Start of next div styling*/

 #socialMedia{
	width:100%;
	height:100%;
	background-color:#fff;
	margin: 0 auto;
	text-align: center;		
}

/*not in use, change name*/
#ellaMaibottomImage{
	margin-top:4%;
	margin-left:-5%;
	width:20%;
	box-shadow: 1px 1px 15px 10px #ccc;    
}


h2{
	text-align: center;
	color: #4d004d;
	font-family: laila;
	font-size: 1.5em;
	font-weight: bold;
}

/*centering the bottom row of logos*/
.tech{
	display: inline-block;
	align-items: center;
	 
}

/* not in use, change name*/
 #selfTitled{
		margin-top:2%;
		margin-left:-5%;
		width:30%;
   
}

.footer{
	position: absolute;
	bottom: : 8px;
	right: 8px;
	color: #fff;
}
